name: Build obsidian plugin

on:
    push:
        # Sequence of patterns matched against refs/tags
        tags:
            - "*" # Push events to matching any tag format, i.e. 1.0, 20.15.10
    workflow_dispatch:

env:
    PLUGIN_NAME: recipe-grabber # Change this to the name of your plugin-id folder

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: "16.x"

            - name: Install Dependencies
              run: npm ci

            - name: Build
              run: npm run build --if-present

            - name: Create Release
              id: create_release
              uses: softprops/action-gh-release@v1
              with:
                  files: |
                      main.js
                      manifest.json
                      styles.css
                  tag_name: ${{ github.ref }}
                  name: ${{ github.ref }}
                  repository: ${{ github.repository }}
                  draft: true
                  prerelease: false
